body {
    background-color: #F5F7FA;
    font-family: 'Montserrat', sans-serif;
}

.main-section {
    display:flex;
    flex-direction:row-reverse;
    width:1200px;
    background: #fff;
    margin:40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/* main content section */
.main-content-section{
 padding:100px 90px;
}
.main-content-title {
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 27px;
color:black;
margin-bottom: 10px;
}
/* about me section */
.about-me-section{
    margin-bottom: 40px;
}

.about-me-profession {
    font-size:14px;
    color:#000000;
    font-style: normal;
    font-weight: bold;
    line-height: 17px;
    margin-bottom:20px;
}
.about-me-name {
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 55px;
margin-bottom:25px;
}
.about-me-description {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
width: 400px;
}

/* my project section */

.my-project{
margin-bottom:50px;
}
.my-project-list{
    padding: 0 0 0 17px;
}
.my-projects-item{
    color:black;
    font-weight: bold;
} 
.my-projects-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left:5px;
    }
.my-projects-link{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #595959;
}


.my-projects-bracket{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color:black;
}
/* my work experience */
.my-work-experience{
    
}
.my-work-experience-position{
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
margin-bottom: 10px;
}
.my-work-experience-period{
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
color:#A8A8A8;
margin-bottom:10px; 
}
.my-work-experience-devider{
    color:black;
}
.my-work-experience-duties{
    padding-left: 18px;
}
.my-work-experience-duty{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #595959;
}
.my-work-experience-company-block
{
    margin-bottom: 15px;
}
.my-work-experience-company{
 color:#FB6D3A;
}
.education{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 2px;
    margin-bottom: 10px;

}
 /* sidebar-section */
.sidebar-section {
    background: #1E2939;
    width: 370px;
    padding: 40px 0;
}
.contact-section,
.tech-skill-section,
.soft-skill-section {
    margin: 50px 0 0 40px;
}

.sidebar-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color:#fff;
    margin-bottom: 10px;
}
 /* contacts section */
.contacts-section-type {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 7px;
}
.contacts-section-link {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #565E6A;
}

/* tech skills list */
.tech-skill-list, .soft-skill-list {
padding:0 0 0 17px;
}
.tech-skill-item, .soft-skill-item{
    color:#FB6D3A;
}
.tech-skill-item-text, .soft-skill-item-text{
 font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color:#fff;
}

table {
    height: 40%;
    left: 10%;
    margin: 10px;
    overflow-y: scroll;
    position: static;
    width: 80%;
  }
  
  thead th {
    background: #88CCF1;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  tr {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
  }
  
  th, td {
    font-family: 'Lato', sans-serif;
    font-size:18px;
    font-weight: 400;
    padding: 5px;
    text-align: left;
    width: 33.3333%;
  }